black
bumpversion
cffi==1.14.6
coverage
docutils
flake8
invoke
isort
pycparser
pylint
pytest
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tox
twine
auditwheel
