black
bumpversion
coverage
docutils<0.18,>=0.14
flake8<4.0
isort
pylint
pytest
Sphinx<=4.3
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tox
twine
auditwheel
markupsafe==2.1.1
importlib-metadata>=4.4
