black
bumpversion
coverage
docutils>=0.14,<0.20
flake8<7.0
isort
pylint
pytest
Sphinx<5.4
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tox
twine
auditwheel
# Last supported version of markupsafe for 3.6.
markupsafe==2.0.1 ; python_version < '3.7'
markupsafe==2.1.1 ; python_version > '3.6'
importlib-metadata>=4.4
